@import url(http://fonts.googleapis.com/css?family=Covered+By+Your+Grace);
@import url(http://fonts.googleapis.com/css?family=Lobster+Two:700italic);
@import url(http://fonts.googleapis.com/css?family=Lobster);

#title {
  background-color: #446CB3;
  color:white;
  font-family: "Lobster", cursive;
  font-size: 40px;
  height:200px;
  text-align: center;
  line-height: 200px;
}

body {
  /*background-color: #2c3e50;*/
  line-height: 0px;
  margin:0;
}

#content {
  background-color: #ecf0f1;
  width: 1000px;
  height: 800px;
  margin: 0 auto;
}

#game {
  display: inline-block;
  background-color: #95a5a6;
  background: url("../img/bg.png");
  width: 750px;
  height: 600px;
}

.landgrid {
  display: inline-block;
  text-align: center;
  background-color: white;
  width: 125px;
  height: 125px;
  border-radius: 5px;
  margin: 12px;
}

.landitem {
  display: inline-block;
}

.tier {
  float:left;
  background-color: yellow;
  width:25px;
  height:25px;
  border-radius: 12px;
  line-height: 28px;
}

.upgrade {
  background-color: #2ecc71;
  border-radius: 5px;
  cursor: pointer;
  /*margin-top:-4px;*/
}

.label {
  font-size: 15px;
  width: 75px;
  height: 25px;
  line-height: 20px;
  vertical-align: top;
  font-family: "Covered By Your Grace", cursive;
  overflow: hidden;
}

.disable {
  background-color:#bdc3c7;
}

.img {
 cursor: pointer; 
}

.remove {
  background-color: #e74c3c;
  border-radius: 5px;
  cursor: pointer;
}

.selected {
  background-color: #ecf0f1;
}

#stats {
  font-size: 15px;
  vertical-align: top;
  display:inline-block;
  line-height: 25px;
  width: 210px;
  margin: 15px;
}
#mayorstats {
  padding:15px;
  background-color:white;
  border-radius: 5px;
}

#desc {
  line-height: 25px;
  background-color: white;
  padding:15px;
  margin: 15px;
}

#timer {
  padding:15px;
  background-color:white;
  border-radius: 5px;
}

#landstats {
  margin-top: 25px;
  padding:15px;
  background-color:white;
  border-radius: 5px;
}
